@media (min-width: 992px) and (max-width: 1300px) {
    .header .header-bottom .menu ul li a {
        padding-left: 17px;
    }
    .our_activity .single-Promo {
        margin: 100px 30px 0;
        padding: 40px 30px;
    }
    .our_activity .single-Promo p {
        text-align: justify;
    }
    .donors .donors_input h4 select {
        max-width: 483px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .header .header-bottom .main-logo {
        margin: 10px 0;
        text-align: center;
    }
    .header .header-bottom .menu {
        margin: 3px 0;
    }
    .header .header-bottom .menu ul li a {
        margin-right: 20px;
        padding-left: 20px;
    }
    .volunteer_area .item img {
        width: 100%;
    }
    .volunteer_area .item .text {
        max-width: 100%!important;
    }
    br {
        display: none;
    }
    .donors .donors_input {
        width: 100%;
        float: none;
    }
    .donors .donors_image {
        float: left;
        width: 100%;
    }
    .donors .donors_input h2,
    .donors .donors_image h2 {
        padding-top: 60px;
    }
    .footer_carosal .footer_carosal_icon .item img {
        width: 100px;
    }
}

@media only screen and (max-width: 767px) {

    .nav-head{
        display: none;
    }

    .wrapper section>h2::before {
        display: none;
        }

    .header .header-bottom .menu ul li a {
        margin-right: 20px;
        padding-left: 20px;
    }
    .header .header-bottom .menu {
        margin: 0px 0;
    }
    .header .header-top .contact p span {
        margin-right: 8px;
    }
    header.header .header-top .join-us {
        display: none;
    }
    .main-logo {
        text-align: center;
    }

    .reachout{
        background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./img/reachout-mob.jpg');
        background-size: cover;
    }
    .reachout-img > img {
        /* margin: 10rem; */
        padding: 10rem 0rem;
        max-width: 30rem;
    }
    .reachout-desc{
        padding: 0rem;
        margin: 1rem;
        font-size: 5vw !important;
        text-align: center;
    }

    .carosal-area .text>h3 {
        margin-top: 40px;
    }
    .carosal-area .owl-dots {
        margin-bottom: 30px;
        margin-top: 10px;
    }
    .carosal-area .text>p {
        text-align: justify;
    }
    br {
        display: none
    }

    .donors {
        height: auto;
        margin-bottom: 4rem;
    }

    .donate-text {
        padding: 0px 20px;
    }
    .reg-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .reg-img >img{
        max-width: 90vw;
    }


    .reg-portal {
        height: auto;
        width: 100vw;
    }

    .reg-portal > iframe {
        width: 100%;
    }
    .block-wrapper {
        margin-top: 30px;
        padding: 0px 0;
    }
    header.header .nav.navbar-nav>li {
        display: inline-block;
        position: relative;
    }
    .volunteer_area .item img {
        width: 100%;
    }
    .volunteer_area .item .text {
        width: 100%!important;
    }
    .main-logo {
        margin: 0;
    }
    .owl-theme .owl-nav {
        display: none;
    }
    .carosal_bottom {
        height: auto;
    }
    .row2{
        display: none;
    }
    .events_section_area{
        padding-top:10rem;
        height: auto;
    }
    .events_section_area > h2{
        margin: 4rem 0rem !important;
    }
    .events_single > img {
        max-width: 30vw;
    }
    .events_single > h3 {
        margin-top: 30px !important;
    }
    .our_activity {
        height: auto;
        margin-top: 0rem;
    }
    .our_activity > h2 {
        margin: 10rem 0rem 2rem 0rem !important;
    }
    .our_activity > p{
        padding: 2rem;
        font-size: 15px !important;
        width: 90%;
    }

    .partners {
        margin-bottom: 5rem;
    }
    .partners-img{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .partners-img > a {
        margin:1rem;
    }
    .partners-img > a > img {
        max-width: 15rem;
        margin-top: 0 !important;
    }
    .seeds{
        /* max-width: 10rem !important; */
    }

    .row{
        margin-right: 0;
        margin-left: 0;
    }
    .footer-text {
        margin:5rem 2rem ;
    }
    .footer-text > img {
        margin-bottom: 10px;
        height: 15rem;
        width: 15rem;
    }
    .footer-name{
        font-size: 2rem !important;
    }
    .footer-details{
        font-size: 15px !important;
    }
}