* {
    font-family: 'Montserrat';
}

.nav {
    z-index: 1000;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    line-height: 65px;
    text-align: center;
    -webkit-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
    /* background: #fff; */
    /* box-shadow:0px 0px 8px 0px rgba(0, 0, 0, 0.2); */
    padding: 1rem;
}

.highlight {
    /* padding: 0; */
    background-color: #111;
}

.nav__logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__logo a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-family: "Montserrat",sans-serif !important;
}

.nav__logo a:hover {
    color: whitesmoke;
}

.nav-head {
    display: inline;
}
.nav__wrapper {
    height: 65px;
    float: right;
    padding: 0;
    margin: 0;
}

.nav__wrapper__list {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav__wrapper__list__item {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
    font-family: "Montserrat",sans-serif !important;
}

.nav__wrapper__list__item a {
    text-decoration: none;
    color: white;
    line-height: 65px;
    font-size: 1.8rem;
}

.nav__wrapper__list__item a:hover {
    color: whitesmoke;
}

.nav__toggle-btn {
    display: none;
}


/* Media qurey section related to Navbar Section */

@media screen and (max-width:768px) {
    .nav{
        height: 10vh;
    }

    .nav__toggle-btn {
        display: block;
    }
    .nav__wrapper {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav__wrapper--visible {
        height: auto;
        display: none;
        margin-top: -4px;
        opacity: 95%;

    }
    .nav__wrapper__list {
        display: flex;
        flex-direction: column;
        /* justify-content: center;
        align-items: center; */
        width: 100%;
        height: 100vh;
        background-color: #111;
        padding-top: 5rem;
        /* same background-color as navbar */
        background-position: center top;
    }
    .nav__wrapper__list__item {
        width: 100%;
        text-align: center;
        padding-right: 0;
    }
    .nav__wrapper__list__item a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
        font-family: "Montserrat",sans-serif !important;
    }
}

@media screen and (max-width:480px) {
    .nav__logo a {
        font-size: 1.6rem;
    }
}




/* Medium Devices, Desktops */

@media screen and (max-width:992px) {}


/* Small Devices, Tablets */

@media screen and (max-width:768px) {
    .middle > .btn{
        background: white;
        border: none;
        box-shadow: none;
    }

    .middle > .btn > i {
        font-size: 20px !important;
    }
    .intro__align__title {
        font-size: 3.5rem;
        font-weight: lighter;
        color: #fff;
    }
    .intro__align__sub-title {
        font-size: 2.5rem;
        font-weight: lighter;
        color: #fff;
    }
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
    .intro__align__title {
        font-size: 2.8rem;
    }
    .intro__align__sub-title {
        font-size: 1.8rem;
    }
}


/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {
    .intro__align__title {
        letter-spacing: 4px;
    }
}
.pads {
	padding-left:18%;
	padding-right:18%;
}
.text {
	font-size: 25px;
	text-align:justify;
}
@media only screen and (max-width: 320px) {
.pads {
	padding-left: 8px;
	padding-right: 8px;
	}
}
/* Animation */

.nav__toggle-btn {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.nav__toggle-btn i {
    background-color: white;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.nav__toggle-btn i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.nav__toggle-btn i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.nav__toggle-btn i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
    
}

.nav__toggle-btn.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.nav__toggle-btn.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.nav__toggle-btn.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

 /* Reach out */

.reachout{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./img/selective-focus-photography-of-hand-1654698.jpg');
    background-size: cover;
}

.reachout-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reachout-img > img{
    max-width: 30vw;
}

.reachout-desc{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15rem 0rem 0rem 0rem;
    padding: 0rem 40rem;
    color: white;
    font-size: 1.5vw !important;
    font-family: "Montserrat",sans-serif !important;
    text-align: center;
    opacity: 0.8;
}

  /* Donate */


.donors{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: black;    */
}

.reg-body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.reg-img {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reg-img > img {
    max-width: 15vw;
}

.reg-portal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
}

.reg-portal > iframe {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.carosal-area {
    background-image: url("img/demopic.jpg");
    background-size: cover;
    
}

.carosal-area .text {
    text-align: center;
    margin-bottom: 50px;
}

.carosal-area .text>h3 {
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin-top: 210px;
}

.carosal-area .text>p {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 28px;
}

.carosal-area .text>h5 {
    display: inline-block;
    margin-left: 10px;
    margin-top: 52px;
}

.carosal-area .text>h5 a {
    border: 1px solid #fff;
    border-radius: 25px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 15px 40px;
    text-decoration: none;
}

.carosal-area .text>h5.white-button a {
    background: #fff;
    color: #01d262;
}

.carosal-area .owl-prev {
    left: 0;
    position: absolute;
    top: 48%;
}

.carosal-area .owl-next {
    right: 0;
    position: absolute;
    top: 48%;
}

.carosal-area .owl-theme .owl-nav [class*="owl-"] {
    background: #1cb060 none repeat scroll 0 0;
    border-radius: 50%;
    font-size: 25px;
    height: 50px;
    line-height: 43px;
    width: 50px;
}

.carosal-area .owl-dots {
    margin-bottom: 40px;
    margin-top: 105px;
}

.owl-theme .owl-dots .owl-dot span {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #fff
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #fff none repeat scroll 0 0;
}


/*
.wrapper section>h2 {
    color: #3c354e;
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin: 115px auto 50px;
    position: relative;
    width: -moz-fit-content;
    text-transform: uppercase;
}
*/

.wrapper section>h2 {
    color: #3c354e;
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin: 115px auto 50px;
    position: relative;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    margin: 115px 0 50px;
}

.wrapper section>h2::before {
    background: black none repeat scroll 0 0;
    bottom: -13px;
    content: "";
    height: 1px;
    left: 48%;
    position: absolute;
    width: 75px;
    margin: 0 auto;
}

.wrapper section>p {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

.our_activity {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.our_activity > .container {
    margin-bottom: 6rem;
}
.our_activity > p {
    font-size: 20px !important;
    width: 50%;
    opacity: 0.9;
}

.our_activity .single-Promo {
    border-radius: 7px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
    margin: 100px 35px 0;
    padding: 40px 45px;
    position: relative;
    height: auto;
    min-height: 250px;
    cursor: pointer;
}

.our_activity .single-Promo .promo-icon {
    left: 0;
    position: absolute;
    text-align: center;
    top: -40px;
    width: 100%;
}

.our_activity .single-Promo h2 {
    border-radius: 60px;
    margin: 10px auto 38px;
    position: relative;
    width: -moz-fit-content;
    text-align: center;
}

.our_activity .single-Promo h2::before {
    background: #000 none repeat scroll 0 0;
    bottom: -5px;
    content: "";
    height: 2px;
    left: 20%;
    position: absolute;
    width: 60%;
}

.our_activity .single-Promo h2 a {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: #3c354e;
    text-align: center;
}

.our_activity .single-Promo p {
    color: #3c354e;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

.our_activity .single-Promo i {
    border: 0 solid #000;
    border-radius: 50%;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    font-size: 30px;
    padding: 25px;
    text-align: center;
    background: #fff;
}



.our_activity .single-Promo:hover>.promo-icon i {
    background: black;
    /* transition-delay: 1s; */
    color: #fff;
}

.our_activity .single-Promo:hover>.icon1 i {
    /* background: black; */
    /* transition-delay: 1s; */
    /* color: blue; */
}

.our_activity .single-Promo:hover>.icon2 i {
    /* background: black; */
    /* transition-delay: 1s; */
    /* color: red; */
}

.our_activity .single-Promo:hover>.icon3 i {
    /* background: black; */
    /* transition-delay: 1s; */
    /* color: green; */
}

.donate_section {
    background-color: #1f1e1e;
}

.donate_section h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    text-align: center;
}

.donate_section h3 {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 35px;
    text-align: center;
}

.donate_section p {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    opacity: 0.8;
}

.donate_section .for-padding {
    padding: 87px 20px 107px;
}

.donate_section .progress {
    max-width: 700px;
    margin: 0 auto;
    height: 10px;
    background-color: #1eb464;
}

.donate_section .progress-bar {
    background-color: #fff;
}

.donate_section .progress-text {
    position: relative;
    width: 700px;
    margin: 0 auto;
}

.donate_section .progress-text .progress-right {
    position: absolute;
    right: 0;
    margin-top: 15px;
}

.donate_section .progress-text .progress-left {
    left: 0;
    position: absolute;
    margin-top: 15px;
}

.donate_section h2 {
    margin-top: 120px;
    text-align: center;
}

.donate_section h2 a {
    background: #fff none repeat scroll 0 0;
    border-radius: 30px;
    color: #05ce68;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 15px 40px;
    text-decoration: none;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
}

.events_section_area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.events_single {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.events_single > img {
    border-radius: 50%;
    max-width: 10vw;
}

.events_section_area .events_single {
    margin: 60px 20px 0;
}

.events_section_area .events_single img {
    width: 100%;
}

.events_section_area .events_single p {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    margin-top: 14px;
    font-weight: 400;
    position: relative;
}

.events_section_area .events_single p i {
    font-size: 15px;
    position: absolute;
    left: 0;
    top: 2px;
}

.events_section_area .events_single p span.event_left {
    left: 0;
    position: absolute;
    padding-left: 20px;
}

.events_section_area .events_single p span.event_right {
    position: absolute;
    right: 0;
    padding-left: 20px;
}

.events_section_area .events_single h3 {
    /* color: white; */
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-top: 70px;
    text-align: center;
}


.events_section_area .events_single:hover h3 {
    /* color: violet; */
    text-decoration: none;
}

.events_section_area .events_single h6 {
    color: #6f6f6f;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
}

.container{
    max-width: 100% !important;
}

.middle{
    text-align: center;
}
.btn{
    display: inline-block;
    width: 45px;
    height: 45px;
    /* background: #f1f1f1; */
    border-radius: 30%;
    /* box-shadow: 0 5px 15px -5px #00000070; */
    color: black;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: pointer;
  }
  .btn i{
    line-height: 30px;
    font-size: 20px;
    transition: 0.2s linear;
  }
  .btn:hover i{
    transform: scale(1.3);
    color: #f1f1f1;
  }
  .btn::before{
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: black;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
  }
  .btn:hover::before{
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
  }
  @keyframes aaa {
    0%{
      left: -110%;
      top: 90%;
    }50%{
      left: 10%;
      top: -30%;
    }100%{
      top: -10%;
      left: -10%;
    }
  }
  


.carosal_bottom {
    background-image: url(img/carosal-bg.jpg);
    background-size: 100% 100%;
    height: 575px;
    
}

.carosal_bottom .item {
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
    padding-top: 80px;
}

.carosal_bottom .item img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
}

.carosal_bottom .item p {
    color:black;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 28px;
}

.carosal_bottom .item h5 {
    margin-top: 21px;
}

.carosal_bottom .item h5 i {
    color: green;
    font-size: 60px;
}

.carosal_bottom .item h4 {
    color:black;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-top: 13px;
    text-transform: uppercase;
}

.carosal_bottom .item h6 {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: black;
}

.carosal_bottom .owl-theme .owl-nav,
.carosal_bottom .owl-theme .owl-dots {
    display: none;
}


/* partners */

.partners{
    /* border: solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.partners-img{
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    /* margin: 4rem; */
}

.partners-img > a{
    margin: 6rem;
}
.partners-img > a > img {
    max-width: 20rem;
}

.footer {
    background: #2e2e2e;
    padding-top: 80px
}

.footer-name{
    color: white !important;
    font-size: 1vw !important;
    text-align: center;
}

.footer-details{
    color: white !important;
    font-size: 0.9vw !important;
    text-align: center;
}

.footer-contact {
    color: #cfd1d4 !important;
}
.footer .footer-charity-text {
    max-width: 345px;
}

.footer .footer-charity-text h2 {
    color: #fff;
    font-family: "Montserrat", sans-serif !important;
    font-size: 25px;
    font-weight: 700;
    margin: 0 0 27px;
}

.footer .footer-charity-text p {
    color: rgb(91, 91, 91);
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
}

.footer .footer-charity-text hr {
    border-color: rgb(91, 91, 91);
}

.footer .footer-charity-text p i {
    color: #5b5b5b;
    font-size: 18px;
    margin-right: 20px;
}

.footer-charity-text hr {
    margin: 35px 0;
}

.footer-text > img {
    height: 16rem;
    width: 16rem;
    border-radius: 10px;
    margin-bottom: 20%;
}
.footer .footer-text h3 {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin: 8px 0 25px;
}

.footer .footer-text ul {
    margin: 0;
    padding: 0;
}

.footer .footer-text.one ul li {
    left: 7px;
    list-style: outside none none;
    padding-left: 20px;
    position: relative;
}

.footer .footer-text.one ul li i {
    color: rgb(91, 91, 91);
    font-size: 15px;
    left: -7px;
    position: absolute;
    top: 3px;
}

.footer .footer-text.one ul li a {
    color: rgb(91, 91, 91);
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
}

.footer .footer-text.two ul li a {
    color: rgb(91, 91, 91);
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
}

.footer .footer-text ul li {
    margin-bottom: 10px;
}

.footer .footer-text.two ul li a:hover,
.footer .footer-text.one ul li a:hover,
.footer .footer-text.one ul li i:hover,
.footer .footer-charity-text p i:hover {
    color: #c0c0c0;
}

.footer .footer_bottom p {
    background: #232323 none repeat scroll 0 0;
    color: #cacaca;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 400;
    height: 75px;
    line-height: 75px;
    margin: 70px 0 0;
    padding: 0;
    text-align: center;
}

.footer .footer_bottom p a {
    color: #2ad880;
    text-decoration: none;
}

.block-wrapper {
    background-image: url(img/count.jpg);
    background-size: 100% 100%;
}

.block-wrapper {
    padding: 60px 0;
    margin-top: 130px;
}

.block-wrapper .block {
    text-align: center;
    padding: 25px 0;
}

.block-wrapper .block i {
    font-size: 60px;
    color: #fff;
}

.block-wrapper .block p.counter-wrapper span {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
    font-weight: 700;
}

.block-wrapper .block p.text-block {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.block-wrapper .for-border {
    border-left: 1px solid #2be587;
}

.block-wrapper .for-border:first-child {
    border-left: 0px solid #fff
}

.clear {
    clear: both;
}

.footer_carosal {
    background: #beb8b8 none repeat scroll 0 0;
    height: 200px;
    
}

.footer_carosal .footer_carosal_icon .item img {
    width: 200px;
    padding: 10%;
}



.footer {
    background: #2e2e2e;
    padding-top: 80px
}

.footer .footer-charity-text {
    max-width: 300px;
}

.footer .footer-charity-text h2 {
    color: #fff;
    font-family: cursive;
    font-size: 25px;
    font-weight: 700;
    margin: 0 0 27px;
}

.footer .footer-charity-text p {
    color: rgb(231, 218, 218);
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
}

.footer .footer-charity-text hr {
    border-color: rgb(91, 91, 91);
}

.footer .footer-charity-text p i {
    color: #5b5b5b;
    font-size: 18px;
    margin-right: 20px;
}

.footer-charity-text hr {
    margin: 35px 0;
}

.footer .footer-text h3 {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin: 8px 0 25px;
}

.footer .footer-text ul {
    margin: 0;
    padding: 0;
}

.footer .footer-text.one ul li {
    left: 7px;
    list-style: outside none none;
    padding-left: 20px;
    position: relative;
}

.footer .footer-text.one ul li i {
    color: rgb(91, 91, 91);
    font-size: 15px;
    left: -7px;
    position: absolute;
    top: 3px;
}

.footer .footer-text.one ul li a {
    color: rgb(91, 91, 91);
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
}

.footer .footer-text.two ul li a {
    color: rgb(91, 91, 91);
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
}

.footer .footer-text ul li {
    margin-bottom: 10px;
}

.footer .footer-text.two ul li a:hover,
.footer .footer-text.one ul li a:hover,
.footer .footer-text.one ul li i:hover,
.footer .footer-charity-text p i:hover {
    color: #c0c0c0;
}
